video {
  width: 75%;
  height: 75%;
  display: block;
  margin: 0 auto;
}

body {
  text-align: center;
}

#title {
  font-size: 200%;
}

#lyrics {
  font-style: italic;
  font-size: 150%;
  position: absolute;
  top: 90%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

